@model IEnumerable<StudentManagementWithAI.Models.CourseTaken>

@{
    ViewData["Title"] = "Dashboard";
}

@if (User.IsInRole(Constants.StudentRole)) {
    <h3>Class Schedules</h3>
}else {
    <h3>Nothing to Show</h3>
}

<table class="table">
    <thead class="table-dark">
        <tr>
            <td>Time</td>
            <td>Sunday</td>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
            <td>Friday</td>
            <td>Saturday</td>
        </tr>
    </thead>
    <tr>
        <td></td>
    </tr>
</table>