@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_AuthenticationLayout";
}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Register</h1>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form class="user" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" asp-for="Input.Name" class="form-control form-control-user" id="exampleFirstName"
                                   placeholder="Full Name" />
                            <span asp-validation-for="Input.Name" class="text-danger small"></span>
                        </div>
                        <div class="form-group">
                            <select asp-for="Input.Gender" class="form-control small text-muted" style="border-radius: 40px">
                                <option disabled selected>Gender</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                            <span asp-validation-for="Input.Gender" class="text-danger small"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Email" type="email" class="form-control form-control-user" id="exampleInputEmail"
                                   placeholder="Email Address" />
                            <span asp-validation-for="Input.Email" class="text-danger small"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.PhoneNumber" class="form-control form-control-user" id="exampleInputPhone"
                                   placeholder="Phone Number" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger small"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input asp-for="Input.Password" type="password" class="form-control form-control-user"
                                       id="exampleInputPassword" placeholder="Password" />
                                <span asp-validation-for="Input.Password" class="text-danger small"></span>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="Input.ConfirmPassword" type="password" class="form-control form-control-user"
                                       id="exampleRepeatPassword" placeholder="Confirm Password" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger small"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input asp-for="Input.Address" class="form-control form-control-user"
                                       placeholder="Address" />
                                <span asp-validation-for="Input.Address" class="text-danger small"></span>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="Input.DOB" class=" form-control form-control-user" />
                                <span asp-validation-for="Input.DOB" class="text-danger small"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label class="small">Upload Picture</label>
                                <input type="file" name="files" class="form-control-file small" id="formFile" accept="image/png, image/jpeg" />
                            </div>
                            <div class="col-sm-6 mt-4 custom-control custom-checkbox">
                                <input asp-for="Input.RegisterStudent" class="custom-control-input" id="customCheck">
                                <label asp-for="Input.RegisterStudent" class="custom-control-label" for="customCheck">
                                    @Html.DisplayNameFor(m => m.Input.RegisterStudent)
                                </label>
                            </div>
                        </div>

                        @*Faculty Fields*@
                        <div class="facultyField form-group">
                            <input asp-for="Input.Initial" class="form-control form-control-user"
                                   data-val-required="The Initial field is required." placeholder="Initial" />
                            <span asp-validation-for="Input.Initial" class="text-danger"></span>
                        </div>

                        @*Student Fields*@
                        <div class="studentField form-group" style="display: none;">
                            <input asp-for="Input.TotalCredits" class="form-control form-control-user" data-val="true"
                                   data-val-required="The Total Credits field is required." placeholder="Total Credits" />
                            <span asp-validation-for="Input.TotalCredits" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <select asp-for="Input.DepartmentId" asp-items="@Model.DepartmentDropDown" class="form-control small text-muted" style="border-radius: 40px">
                                <option disabled selected>Department</option>
                            </select>
                            <span asp-validation-for="Input.DepartmentId" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Register Account
                        </button>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" id="login" asp-controller="Dashboard" asp-action="Index">Go to Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            if ($("#customCheck").is(":checked")) {
                $(".studentField").fadeIn();
                $(".facultyField").fadeOut();
            } else {
                $(".studentField").fadeOut();
                $(".facultyField").fadeIn();
            }
        });
        $("#customCheck").on('click', function () {
            if ($("#customCheck").is(":checked")) {
                $(".studentField").fadeIn();
                $(".facultyField").fadeOut();
            } else {
                $(".studentField").fadeOut();
                $(".facultyField").fadeIn();
            }
        });
    </script>
}
